@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-wrap{
  background-image: url("/assets/images/Home_bg.png");
  background-position: center;
  background-size: cover;
}

.font-1{
  font-family: "Space Grotesk";
}

.font-2{
  font-family: "Poppins";
}