@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .home-wrap{
  background-image: url("/assets/images/Home_bg.png");
  background-position: center;
  background-size: cover;
} */

.font-1{
  font-family: "Space Grotesk";
}

.font-2{
  font-family: "Poppins";
}

.font-3{
  font-family: "Rubik";
}

.progress-fill{
  background: linear-gradient(to left, #ff9c00 0%, #ff9c00 84%, #ff463d 100%);
  border: 1px solid white;
  border-radius: 50px;
}

body{
  background-color:#0C1B3D
}

.opaque-bg{
  background-color: #1d142fc8;
}

.invite-banner{
  border-radius: 8px;
background: rgba(151, 151, 151, 0.17);
}